body {
  font-family: monospace;
  background-color: #000000;
  color: rgba(207, 255, 204, 0.8784313725);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.content-container {
  margin: 120px auto 20px 160px;
  padding: 20px;
  background: #000000;
  min-height: calc(100vh - 120px);
  width: 80%;
}

.raw-content-container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.raw-content-container h2,
.raw-content-container h3,
.raw-content-container h4 {
  font-size: 1.2rem;
}

a {
  color: #5ab211;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #008000;
  color: black;
  border: 1px solid #00FF00;
  padding: 5px 10px;
  font-family: "Courier New", monospace;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}

button:hover {
  background-color: #00FF00;
  color: #000000;
}

.article pre {
  font-size: 0.8rem;
  white-space: pre;
}
@media (max-width: 1000px) {
  .article pre {
    font-size: 0.6rem;
  }
}
@media (max-width: 800px) {
  .article pre {
    font-size: 0.4rem;
  }
}
@media (max-width: 600px) {
  .article pre {
    font-size: 0.4rem;
  }
}
.article pre,
.article h1 {
  color: #48b300;
  text-align: center;
}
.article h2 {
  color: #48b300;
  border-bottom: 2px solid #48b300;
  padding-bottom: 5px;
}
.article h3 {
  color: #48b300;
}
.article p,
.article ul {
  font-size: 18px;
  margin-bottom: 20px;
}
.article ul {
  list-style-type: disc;
  padding-left: 20px;
}
.article a {
  color: #48b300;
  text-decoration: none;
}
.article a:hover {
  text-decoration: underline;
}
.article .button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.article .button:hover {
  background-color: #0d8102;
}
.article img {
  width: 60%;
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 255, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
  border-radius: 5px;
}
.article .MathJax {
  color: #00ff00;
  background-color: transparent;
  padding: 2px 4px;
  border-radius: 3px;
  white-space: nowrap;
}

.top-bar {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  color: rgba(207, 255, 204, 0.8784313725);
  align-items: center;
  z-index: 1000;
}

.terminal-prompt {
  color: rgba(207, 255, 204, 0.8784313725);
  background-color: #000000;
}

.command-input {
  outline: none;
  border: none;
  color: rgba(207, 255, 204, 0.8784313725);
  background: transparent;
  caret-color: #00ff00;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.side-bar {
  width: 160px;
  position: fixed;
  top: 120px;
  left: 0;
  background-color: #000000;
  color: rgba(207, 255, 204, 0.8784313725);
  overflow: hidden;
  z-index: 900;
}

.article pre {
  font-size: 0.8rem;
  white-space: pre;
}
@media (max-width: 1000px) {
  .article pre {
    font-size: 0.6rem;
  }
}
@media (max-width: 800px) {
  .article pre {
    font-size: 0.4rem;
  }
}
@media (max-width: 600px) {
  .article pre {
    font-size: 0.4rem;
  }
}
.article pre,
.article h1 {
  color: #48b300;
  text-align: center;
}
.article h2 {
  color: #48b300;
  border-bottom: 2px solid #48b300;
  padding-bottom: 5px;
}
.article h3 {
  color: #48b300;
}
.article p,
.article ul {
  font-size: 18px;
  margin-bottom: 20px;
}
.article ul {
  list-style-type: disc;
  padding-left: 20px;
}
.article a {
  color: #48b300;
  text-decoration: none;
}
.article a:hover {
  text-decoration: underline;
}
.article .button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.article .button:hover {
  background-color: #0d8102;
}
.article img {
  width: 60%;
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 255, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
  border-radius: 5px;
}
.article .MathJax {
  color: #00ff00;
  background-color: transparent;
  padding: 2px 4px;
  border-radius: 3px;
  white-space: nowrap;
}

#matrix-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999; /* Ensure it overlays everything */
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  padding: 20px;
}
.projects-container .project-card {
  flex: 1 1 40%;
  max-width: 600px;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  margin-bottom: 30px;
  height: 150%;
  font-size: 0.4rem;
}
.projects-container .project-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
}
.projects-container .project-card .project-raw {
  width: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
  height: 150%;
  min-height: 500px;
}
.projects-container .project-card .project-raw iframe {
  width: 90%;
  border: none;
  margin: 5% auto;
  display: block;
  pointer-events: none;
}
.projects-container .project-card .project-title {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #00ff00;
  text-align: center;
}
.projects-container .project-card .project-description {
  padding: 10px 20px;
  font-size: 1rem;
  color: #bfbfbf;
  text-align: center;
}

@media (max-width: 1000px) {
  .projects-container .project-card {
    flex: 1 1 100%;
  }
}
#search-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  z-index: 1000;
  width: 40vw;
  max-height: 70vh;
  overflow-y: auto;
}
#search-modal .search-results-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#search-modal .search-result-item {
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: background-color 0.3s;
}
#search-modal .search-result-item:hover {
  background-color: #333;
}
#search-modal .search-result-item .result-title {
  font-weight: bold;
  color: #00ff00;
}
#search-modal .search-result-item .result-preview {
  color: #bfbfbf;
}
#search-modal .no-results {
  color: #ff4d4d;
  text-align: center;
}

#gutenberg-page {
  /* Display areas */
  /* Speed slider */
  /* Buttons */
}
#gutenberg-page #displayArea {
  padding: 20px;
  height: 300px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  text-align: center;
}
#gutenberg-page #speed {
  -webkit-appearance: none;
  /* Removes default styling in WebKit browsers */
  -moz-appearance: none;
       appearance: none;
  width: 40%;
  height: 8px;
  /* Height of the slider track */
  background: #008000;
  /* Match the button background */
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  margin-left: 10px;
}
#gutenberg-page #speed:hover {
  opacity: 1;
}
#gutenberg-page #speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Removes default thumb styling */
  appearance: none;
  width: 20px;
  /* Thumb width */
  height: 20px;
  /* Thumb height */
  background: #00FF00;
  /* Match button hover background */
  border: 2px solid black;
  border-radius: 50%;
  /* Make it circular */
  cursor: pointer;
  -webkit-transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s;
}
#gutenberg-page #speed::-webkit-slider-thumb:hover {
  background: #FFFF00;
  /* Highlight color on hover */
  transform: scale(1.1);
  /* Slightly enlarge on hover */
}
#gutenberg-page #speed::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00FF00;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s;
}
#gutenberg-page #speed::-moz-range-thumb:hover {
  background: #FFFF00;
  transform: scale(1.1);
}
#gutenberg-page #speed::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #00FF00;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  -ms-transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s;
}
#gutenberg-page #speed::-ms-thumb:hover {
  background: #FFFF00;
  transform: scale(1.1);
}
#gutenberg-page button {
  background-color: #008000;
  color: black;
  border: 1px solid #00FF00;
  padding: 5px 10px;
  font-family: "Courier New", monospace;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}
#gutenberg-page button:hover {
  background-color: #00FF00;
  color: #000000;
}
