// Color variables
$font-family: monospace;
$background-color: #000000;
$text-color: #cfffcce0;
$container-background: #000000;
$primary-color: #5ab211;
$secondary-color: #0d8102;
$button-text-color: #00410e;
$navbar-background-color: #000000;
$sidebar-background-color: #000000;
$font-color: #ffffff;
$main-color: #48b300;
$glow-color: rgba(0, 255, 0, 0.2);


// Dimension variables
$navbar-height: 120px;
$sidebar-width: 160px;
$sidebar-padding: 10px;