// Import variables
@import 'variables';


.article {

    pre {
        font-size: 0.8rem;
        white-space: pre;

        @media (max-width: 1000px) {
            font-size: 0.6rem;
        }

        @media (max-width: 800px) {
            font-size: 0.4rem;
        }

        @media (max-width: 600px) {
            font-size: 0.4rem;
        }
    }


    pre,
    h1 {
        color: $main-color;
        text-align: center;
    }

    h2 {
        color: $main-color;
        border-bottom: 2px solid $main-color;
        padding-bottom: 5px;
    }

    h3 {
        color: $main-color;
    }

    p,
    ul {
        font-size: 18px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    a {
        color: $main-color;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: $background-color;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .button:hover {
        background-color: $secondary-color;
    }

    img {
        width: 60%; // Default width for larger screens
        max-width: 100%; // Prevent the image from exceeding the container's width
        height: auto; // Maintain aspect ratio
        border: 1px solid rgba(0, 255, 0, 0.3); // Optional: Add a border for style
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.2); // Optional: Add a glow effect
        border-radius: 5px; // Optional: Slightly rounded corners
    }

    .MathJax {
        color: #00ff00; // Neon green color for terminal effect
        background-color: transparent; // Keep inline background transparent
        padding: 2px 4px; // Slight padding for readability
        border-radius: 3px;
        white-space: nowrap; // Prevent wrapping for inline math
    }
}