@import 'variables';

.side-bar {
    width: $sidebar-width; // Use defined sidebar width, e.g., 200px
    position: fixed;
    top: $navbar-height; // Align below the navbar
    left: 0;
    background-color: $navbar-background-color;
    color: $text-color;
    overflow: hidden;
    z-index: 900;
}
