@import 'variables';

.topnav {
    height: $navbar-height; // Use defined navbar height, e.g., 60px
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $navbar-background-color;
    color: $text-color;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.terminal-prompt {
    color: #00ff0077;
    background-color: #000000;
    margin-left: 10px;
}

.command-input {
    outline: none;
    border: none;
    color: #00ff00; // Match terminal green
    background: transparent;
    caret-color: #00ff00; // Green caret
    font-family: inherit;
}