@import 'variables';

.top-bar {
    height: $navbar-height; // Use defined navbar height, e.g., 60px
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $navbar-background-color;
    color: $text-color;
    align-items: center;
    z-index: 1000;
}

.terminal-prompt {
    color: $text-color;
    background-color: #000000;
}

.command-input {
    outline: none;
    border: none;
    color: $text-color;
    background: transparent;
    caret-color: #00ff00; // Green caret
    font-family: inherit;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
    border-radius: 3px;
    padding: 5px;

}
